# Discord Bot Tokens & IDs
DISCORD_TOKEN=your_discord_bot_token_here
CLIENT_ID=your_discord_client_id_here
GUILD_ID=your_discord_guild_id_here

# Channel IDs (Where the bot operates)
ADMIN_CHANNEL_ID=your_admin_channel_id_here
ATTENDANCE_CHANNEL_ID=your_attendance_channel_id_here
LOG_CHANNEL_ID=your_log_channel_id_here

# Role IDs (For permissions)
CLOSE_ROLE_ID=your_role_id_here_for_closing_absences

# Google Sheets IDs
# The ID of the Google Sheet containing the Boss Schedule
SCHEDULE_SPREADSHEET_ID=your_schedule_spreadsheet_id_here

# The ID of the Google Sheet where attendance data will be saved
ATTENDANCE_SPREADSHEET_ID=your_attendance_spreadsheet_id_here

GOOGLE_CREDENTIALS_BASE64_ABSEN=isi_base64_panjang
GOOGLE_CREDENTIALS_BASE64_JADWAL=isi_base64_panjang
